@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  min-width: 320px; }
  body main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; }
    body main .top {
      width: 100%;
      min-height: 80vh;
      position: relative; }
      body main .top header {
        position: absolute;
        display: flex;
        align-items: center;
        left: 80px;
        top: 70px;
        z-index: 1;
        gap: 3.5rem; }
        body main .top header .hamburger-icon,
        body main .top header .close-icon {
          display: none;
          cursor: pointer; }
        body main .top header img {
          width: 100px;
          min-width: 50px; }
        body main .top header ul {
          display: flex;
          gap: 2rem; }
          body main .top header ul li {
            list-style: none; }
            body main .top header ul li a {
              font-size: 1.1rem;
              text-decoration: none;
              color: white;
              cursor: pointer; }
      body main .top .controller {
        width: 150px;
        display: flex;
        background-color: black;
        left: 55%;
        bottom: 0px;
        position: absolute;
        z-index: 1; }
        body main .top .controller img {
          width: 50%;
          height: 100%;
          cursor: pointer;
          padding: 2rem;
          transition: background-color 0.2s ease; }
          body main .top .controller img:hover {
            background-color: #454545; }
      body main .top .slider-container {
        width: 100%;
        height: 100%; }
        body main .top .slider-container .slider-div {
          width: 100%;
          height: 100%;
          display: flex;
          animation: slider-animation 1s ease forwards;
          transition: all 1s ease; }
          body main .top .slider-container .slider-div .img-container {
            width: 55%;
            height: 80vh;
            background-color: red;
            min-width: 450px; }
            body main .top .slider-container .slider-div .img-container img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center right; }
            body main .top .slider-container .slider-div .img-container .mobile-c {
              display: none; }
          body main .top .slider-container .slider-div .info-slider {
            width: 45%;
            height: 80vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white; }
            body main .top .slider-container .slider-div .info-slider .content {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
              width: 62%;
              min-width: 347px; }
              body main .top .slider-container .slider-div .info-slider .content h1 {
                font-size: 2.5rem;
                font-weight: 700;
                color: black; }
              body main .top .slider-container .slider-div .info-slider .content p {
                line-height: 1.5rem;
                font-size: 1rem;
                font-weight: 500;
                color: #a1a1a1; }
              body main .top .slider-container .slider-div .info-slider .content a {
                text-transform: uppercase;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 700;
                letter-spacing: 12px;
                color: black;
                line-height: 1.5rem;
                cursor: pointer; }
                body main .top .slider-container .slider-div .info-slider .content a img {
                  width: 50px;
                  margin-left: 1rem; }
    body main .bottom {
      width: 100%;
      display: flex; }
      body main .bottom .dark-img,
      body main .bottom .light-img {
        width: 30%; }
        body main .bottom .dark-img img,
        body main .bottom .light-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      body main .bottom .about {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem 0rem; }
        body main .bottom .about .about-content {
          display: flex;
          flex-direction: column;
          width: 90%; }
        body main .bottom .about h2 {
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 7px; }
        body main .bottom .about p {
          margin-top: 1rem;
          line-height: 1.5rem;
          font-size: 1rem;
          font-weight: 500;
          color: #a1a1a1; }

@keyframes slider-animation {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 992px) {
  body main .top {
    position: relative; }
    body main .top header {
      width: 100%;
      min-width: 200px;
      left: auto;
      padding: 0rem 1rem;
      gap: 0;
      top: 0;
      height: 100px; }
      body main .top header .hamburger-icon {
        width: 30px;
        order: 1;
        display: block;
        min-width: auto;
        margin-right: auto; }
      body main .top header .logo {
        order: 2;
        margin-right: auto; }
      body main .top header ul {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: white;
        height: 100%;
        align-items: center;
        padding: 0rem 1rem;
        gap: 1.5rem; }
        body main .top header ul a {
          color: black !important;
          font-size: 0.9rem !important; }
        body main .top header ul .close-icon {
          display: block;
          width: 30px;
          min-width: auto; }
    body main .top .controller {
      right: 0px;
      left: auto;
      bottom: auto;
      top: 85vh; }
    body main .top .slider-container .slider-div {
      flex-direction: column; }
      body main .top .slider-container .slider-div .img-container {
        width: 100%;
        min-width: auto;
        min-height: 100vh; }
      body main .top .slider-container .slider-div .info-slider {
        width: 100%; }
        body main .top .slider-container .slider-div .info-slider .content {
          width: 60%;
          text-align: center;
          align-items: center;
          justify-content: center;
          min-width: 290px; }
          body main .top .slider-container .slider-div .info-slider .content a {
            justify-content: center; }
  body main .bottom {
    flex-direction: column; }
    body main .bottom h2 {
      line-height: 1.5rem !important; }
    body main .bottom .dark-img,
    body main .bottom .light-img,
    body main .bottom .about {
      width: 100%; } }
