@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Color

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);

body {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  min-width: 320px;

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    .top {
      width: 100%;
      min-height: 80vh;
      position: relative;
      //   background-color: red;
      header {
        position: absolute;
        display: flex;
        align-items: center;
        left: 80px;
        top: 70px;
        z-index: 1;

        gap: 3.5rem;

        .hamburger-icon,
        .close-icon {
          display: none;
          cursor: pointer;
        }

        img {
          width: 100px;
          min-width: 50px;
        }
        ul {
          display: flex;
          gap: 2rem;
          li {
            list-style: none;
            a {
              font-size: 1.1rem;
              text-decoration: none;
              color: $White;
              cursor: pointer;
            }
          }
        }
      }

      .controller {
        width: 150px;
        display: flex;
        background-color: $Black;
        left: 55%;
        bottom: 0px;
        position: absolute;
        z-index: 1;

        img {
          width: 50%;

          height: 100%;
          cursor: pointer;
          padding: 2rem;
          transition: background-color 0.2s ease;
          &:hover {
            background-color: $Very-Dark-Gray;
          }
        }
      }

      .slider-container {
        width: 100%;
        height: 100%;

        .slider-div {
          width: 100%;
          height: 100%;
          display: flex;
          animation: slider-animation 1s ease forwards;
          transition: all 1s ease;

          .img-container {
            width: 55%;
            height: 80vh;
            background-color: red;
            min-width: 450px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center right;
            }

            .mobile-c {
              display: none;
            }
          }
          .info-slider {
            width: 45%;
            height: 80vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $White;

            .content {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
              width: 62%;
              min-width: 347px;

              h1 {
                font-size: 2.5rem;
                font-weight: 700;
                color: $Black;
              }
              p {
                line-height: 1.5rem;
                font-size: 1rem;
                font-weight: 500;
                color: $Dark-Gray;
              }
              a {
                text-transform: uppercase;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 700;
                letter-spacing: 12px;
                color: $Black;
                line-height: 1.5rem;
                cursor: pointer;
                img {
                  width: 50px;
                  margin-left: 1rem;
                }
              }
            }
          }
        }
      }
    }

    .bottom {
      width: 100%;

      display: flex;

      .dark-img,
      .light-img {
        width: 30%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .about {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem 0rem;
        .about-content {
          display: flex;
          flex-direction: column;
          width: 90%;
        }

        h2 {
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 7px;
        }
        p {
          margin-top: 1rem;
          line-height: 1.5rem;
          font-size: 1rem;
          font-weight: 500;
          color: $Dark-Gray;
        }
      }
    }
  }
}

@keyframes slider-animation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  body {
    main {
      .top {
        position: relative;

        header {
          width: 100%;
          min-width: 200px;
          left: auto;
          padding: 0rem 1rem;
          gap: 0;
          top: 0;
          height: 100px;

          .hamburger-icon {
            width: 30px;
            order: 1;
            display: block;
            min-width: auto;
            margin-right: auto;
          }

          .logo {
            order: 2;
            margin-right: auto;
          }
          ul {
            display: none;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            background-color: white;
            height: 100%;
            align-items: center;
            padding: 0rem 1rem;
            gap: 1.5rem;
            a {
              color: $Black !important;
              font-size: 0.9rem !important;
            }
            .close-icon {
              display: block;
              width: 30px;
              min-width: auto;
            }
          }
        }
        .controller {
          right: 0px;
          left: auto;
          bottom: auto;
          top: 85vh;
        }
        .slider-container {
          .slider-div {
            flex-direction: column;
            .img-container {
              width: 100%;
              min-width: auto;
              min-height: 100vh;
              img {
              }
            }
            .info-slider {
              width: 100%;

              .content {
                width: 60%;
                text-align: center;

                align-items: center;
                justify-content: center;
                min-width: 290px;
                a {
                  justify-content: center;
                }
              }
            }
          }
        }
      }

      .bottom {
        flex-direction: column;
        h2 {
          line-height: 1.5rem !important;
        }
        .dark-img,
        .light-img,
        .about {
          width: 100%;
        }
      }
    }
  }
}

// @media screen and (max-width: 650px) {
//   html {
//     font-size: 14px;
//     .logo {
//       width: 70px !important;
//     }
//     .hamburger-icon {
//       width: 30px !important;
//     }
//   }
// }
